VITE_GEMINI_API_KEY=your_key_here
VITE_GEMINI_MODEL=gemini-2.5-flash
VITE_GEMINI_PROJECT_DISPLAY_NAME=CookLens
VITE_GEMINI_PROJECT_RESOURCE=projects/642696605647
VITE_GEMINI_PROJECT_NUMBER=642696605647
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=cooklens-b1f92.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cooklens-b1f92
VITE_FIREBASE_STORAGE_BUCKET=cooklens-b1f92.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id_here
GOOGLE_APPLICATION_CREDENTIALS=secrets/cooklens-b1f92-firebase-adminsdk-fbsvc-da7b168e32.json
